name: Package Nuget and Publish

on:
  release:
    types:
      - published

jobs:
  package_and_publish:

    name: package_and_publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.0'
  
      - name: Test
        run: dotnet test --no-restore --verbosity normal    
      
      - name: Create Release NuGet package
        run: |
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=${{ github.event.release.tag_name }} -o nupkg ValidDotNet/ValidDotNet.csproj
      
      - name: Publish Nuget package
        run: |
          dotnet nuget push nupkg/ValidDotNet.${{ github.event.release.tag_name }}.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}  --skip-duplicate

  